@media screen and (max-width:576px) {
    .banner {
        flex-direction: column;
    }
    .banner-title {
        width: 328px;
        font-size: 50px;
        margin: 100px 0px 30px 20px;
    }
    .banner-description {
        width: 313px;
        color: rgb(119, 119, 119);
        font-size: 18px;
        margin: 0px 0px 30px 20px;
        text-align: justify;
    }
    .banner-btn {
        width: 180px;
        height: 55px;
        font-size: 18px;
        margin: 0px 0px 0px 20px;
    }
    .banner-img {
        width: 330.04px;
        height: 240.72px;
        margin: 50px 0px 0px 18px;
    }
    .rating {
        top: 700px;
        left: 40px;
        width: 190px;
        height: 78px;
    }
    .items {
        flex-direction: column;
    }
    .feature-title {
        font-size: 30px;
        font-weight: 800;
        text-align: center;
        width: 200px;
    }
    .feature-description {
        font-size: 16px;
        font-weight: 500;
        width: 300px;
        text-align: justify;
        margin: 30px 0px;
    }
}